<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img  width="100" height="42" role="img"   src="assets/Voo.jpg" aria-label="Bootstrap">
    </a>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary btn-lg me-2">Login</button>
      <button type="button" class="btn btn-primary btn-lg">Sign-up</button>
    </div>
  </header>
</div>

<div class="b-example-divider"></div>
