<div class="container text-center">
  <div class="col-md-12">
    <div class="containerDiv">
    <div class="row d-flex justify-content-center">
        <img class="col-md-6" alt="Alternative text" src="assets/Voo.jpg">
        <h3><b>Queremos ajudar a resolver o seu problema!</b></h3>
        <p class="lead col-md-12">
          Confira <b>em menos de 1</b> minuto se podemos lhe ajudar a buscar os seus direitos. É gratuito e você ainda pode receber uma indenização de <b>até R$ 10 mil</b>.
        </p>
        <div class="col-md-6">
        <input type="email" class="form-control" id="inputEmail4" placeholder="email">
        </div>
        <br>
        <span>Já possui uma conta? <a [routerLink]="['/autenticacao']">Acesse agora</a></span>
        <br>
        <br>
        <button type="button" class="btn btn-primary btn-lg col-md-2">Começar Agora!</button>
      </div>
  </div>
</div>
</div>
